Aufgabe4_v5.0/obj
Aufgabe4_v5.0/Temp
Aufgabe4_v5/Library/metadata
VRUE_Projekt_Template_2015/obj
VRUE_Projekt_Template_2015/Temp
VRUE_Projekt_Template_2015/build_Data
VRUE_Projekt_Template_2015/Library
VRUE_Projekt_Template_2015/ProjectSettings
*.xml
*.cal
*.userprefs
*.exe
*.csproj
*.sln
*.txt
*.meta

